<html>
	<head>
		<title><TMPL_VAR ServerName> Seed Status</title>
		<META HTTP-EQUIV="Refresh" CONTENT="<TMPL_VAR refresh>">
	</head>
	<body bgcolor=#CCCC00>
        <TMPL_IF addtorrent>
            <TMPL_VAR test>
        <TMPL_ELSE>
            <form action="seeds" method=POST>
                <input name="torrent" type=file>
                <input type=submit>
            </form>
    		<TMPL_IF Seeds>
    			<table border=1 width=100% cellpadding=3>
    				<tr bgcolor=#DDDDDD>
    					<th>Seeds</th>
    					<th align=left>File</th>
    					<th>Size</th>
    					<th>Speed</th>
    					<th nowrap>UL/DL</th>
    					<th>Status</th>
    				</tr>
                    <TMPL_LOOP Seeds>
    					<form method=POST action="torrents">
    						<input type=hidden name=nr value=<TMPL_VAR __PASS__>>
    						<input type=hidden name=seed value=1>
    						<tr bgcolor=#FFCCCC>
    							<td><button type=submit name=command value=<TMPL_VAR Command>><TMPL_VAR Command></button></td>
    							<td align=left nowrap width=100%><TMPL_VAR FileName></td>
    							<td align=center nowrap><TMPL_VAR FileSize></td>
    							<td align=center nowrap><TMPL_VAR SpeedUp></td>
    							<td align=center nowrap>
                                    <TMPL_VAR Uploaders> (<TMPL_VAR SizeUp>)<br>
                                    <TMPL_VAR Downloaders> (<TMPL_VAR SizeDown>)
                                </td>
    							<td align=center><TMPL_VAR Status></td>
                            </tr>
                        </form>
                    </TMPL_LOOP>
                </table>
            </TMPL_IF>
        </TMPL_IF>
	</body>
</html>
							


			
