<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title><TMPL_VAR Global_ServerName> Download Status</title>
        <TMPL_IF Global_Refresh>
            <META HTTP-EQUIV="Refresh" CONTENT="<TMPL_VAR Global_Refresh>">
        </TMPL_IF>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
        <link href="/azureus.css" rel="stylesheet" type="text/css">
        <script language="javascript" src="/commands.js"></script>
    </head>
    <body>
        <TMPL_UNLESS Torrents_Torrents>
            <p> No Torrents
        <TMPL_ELSE>
          <form name="Torrent" method=post action='torrents.tmpl' target='torrentlist'>
            <input type=hidden name=command value='Torrent'>
            <input type=hidden name=subcommand value='Download'>
            <p>
            <center><table><tr>
                <td>
                    <TMPL_UNLESS Global_NoJavaScript>
                         <table class="menu" cellspacing=0 cellpadding=0>
                             <tr><td class="menuitem mtop" onclick='eTorrent(0)' onmouseover='mOvr(this, "movr")' onmouseout='mOut(this)'><b>P</b>ause</td></tr>
                             <tr><td class="menuitem mmid" onclick='eTorrent(1)' onmouseover='mOvr(this, "movr")' onmouseout='mOut(this)'><b>D</b>ownload</td></tr>
                             <tr><td class="menuitem mbot" onclick='eTorrent(2)' onmouseover='mOvr(this, "movr")' onmouseout='mOut(this)'><b>C</b>ancel</td></tr>
                        </table>
                    <TMPL_ELSE>
                        <input type=submit name=subcommand value='Pause'>
                        <input type=submit name=subcommand value='Start'>
                        <input type=submit name=subcommand value='Cancel'>
                    </TMPL_UNLESS>
                </td>
                <td>&nbsp;</td>
                <td>
                    <table class="menu" cellspacing=0 cellpadding=0>
                        <tr>
                            <td class="menuitem mvleft mtop">Total Speed (Up/Down)</td>
                            <td class="menuitem mvright mtop"><TMPL_VAR Torrents_TotalSpeedUp> / <TMPL_VAR Torrents_TotalSpeedDown></td>
                        </tr>
                        <tr>
                            <td class="menuitem mvleft mmid">Transferred Volume (Up/Down/Discarded)</td>
                            <td class="menuitem mvright mmid"><TMPL_VAR Torrents_TotalSizeUp> / <TMPL_VAR Torrents_TotalSizeDown> / <TMPL_VAR Torrents_TotalSizeDiscarded></td>
                        </tr>
                        <tr>
                            <td class="menuitem mvleft mbot">Total Connections (Seeds/Peers)</td>
                            <td class="menuitem mvright mbot"><TMPL_VAR Torrents_TotalSeedsConnected> / <TMPL_VAR Torrents_TotalPeersConnected></td>
                        </tr>
                    </table>
                </td>
            </tr></table></center>
            <p>
            <table class="torrent">
                <tr>
                    <td class="torrentheader"></th>
                    <td class="torrentheader" align=left width="100%">File</th>
                    <td class="torrentheader">Status</th>
                    <td class="torrentheader">Downloaded</th>
                    <td class="torrentheader">Size</th>
                    <td class="torrentheader">Speed</th>
                    <td class="torrentheader">UL/DL</th>
                    <td class="torrentheader">ETA</th>
                </tr>
                <TMPL_LOOP Torrents_Torrents>
                    <tr class="torrentrow" onclick='eTorrentInfo("<TMPL_VAR Torrents_Torrent_Hash>")' onmouseover='mOvr(this, "rovr")' onmouseout='mOut(this)'>
                        <td>
                            <INPUT type=checkbox name="Torrent_Hash_<TMPL_VAR Torrents_Torrent_Hash>" value="1">
                        </td>
                        <td align=left nowrap>
                            <table width="100%">
                                <tr>
                                    <td class="<TMPL_IF Torrents_Torrent_Seedless>seedless<TMPL_ELSE>seedy</TMPL_IF>">
                                        <TMPL_IF Global_NoJavaScript>
                                            <a href="torrentinfo?hash=<TMPL_VAR Torrents_Torrent_Hash>" target=torrentinfo>
                                        </TMPL_IF>
                                        <TMPL_VAR Torrents_Torrent_FileName>
                                        <TMPL_IF Global_NoJavaScript>
                                            </a>
                                        </TMPL_IF>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <TMPL_IF Torrents_Torrent_Error>
                                        <TMPL_VAR Torrents_Torrent_Status>: <TMPL_VAR Torrents_Torrent_Error>
                                      <TMPL_ELSE>
                                            <table class="percentage" width="100%">
                                                <tr>
                                                    <TMPL_IF Torrents_Torrent_Initializing>
                                                        <td class="tdp bg" width="100%">&nbsp;</td>
                                                    <TMPL_ELSE>
                                                        <TMPL_IF Torrents_Torrent_Checking>
                                                            <td class="tdp bg" width="<TMPL_VAR Torrents_Torrent_PercentDone>%">&nbsp;</td>
                                                            <td class="tdp wh" width="<TMPL_VAR Torrents_Torrent_PercentLeft>%">&nbsp;</td>
                                                        <TMPL_ELSE>
                                                            <TMPL_IF Torrents_Torrent_Allocating>
                                                                <td class="tdp bg" width="<TMPL_VAR Torrents_Torrent_PercentDone>%">&nbsp;</td>
                                                                <td class="tdp wh" width="<TMPL_VAR Torrents_Torrent_PercentLeft>%">&nbsp;</td>
                                                            <TMPL_ELSE>
                                                                <td class="tdp fg" width="<TMPL_VAR Torrents_Torrent_PercentDone>%">&nbsp;</td>
                                                                <td class="tdp bg" width="<TMPL_VAR Torrents_Torrent_PercentLeft>%">&nbsp;</td>
                                                            </TMPL_IF>
                                                        </TMPL_IF>
                                                    </TMPL_IF>
                                                </tr>
                                            </table>
                                      </TMPL_IF>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td align=center><TMPL_VAR Torrents_Torrent_Status></td>
                        <td align=center nowrap><TMPL_VAR Torrents_Torrent_FileSizeDone> [<TMPL_VAR Torrents_Torrent_PercentDonePrec>%]</td>
                        <td align=center nowrap><TMPL_VAR Torrents_Torrent_FileSize></td>
                        <td align=center nowrap><TMPL_VAR Torrents_Torrent_SpeedDown> <b>down</b><br> <TMPL_VAR Torrents_Torrent_SpeedUp> <b>up</b></td>
                        <td align=center nowrap>
                            <TMPL_VAR Torrents_Torrent_SeedsConnected>/<TMPL_VAR Torrents_Torrent_Seeds> (<TMPL_VAR Torrents_Torrent_SizeUp>)<br>
                            <TMPL_VAR Torrents_Torrent_PeersConnected>/<TMPL_VAR Torrents_Torrent_Peers> (<TMPL_VAR Torrents_Torrent_SizeDown>)
                        </td>
                        <td align=center nowrap><TMPL_VAR Torrents_Torrent_ETA></td>
                    </tr>
                </TMPL_LOOP>
            </table>
          </form>
        </TMPL_UNLESS>
		<TMPL_IF Seeds>
            <p>
			<table border=1 width=100% cellpadding=3>
				<tr bgcolor=#DDDDDD>
					<th>Seeds</th>
					<th align=left>File</th>
					<th>Size</th>
					<th>Speed</th>
					<th nowrap>UL/DL</th>
					<th>Status</th>
				</tr>
                <TMPL_LOOP Seeds>
					<form method=POST action="torrents">
						<input type=hidden name=nr value=<TMPL_VAR __PASS__>>
						<input type=hidden name=seed value=1>
						<tr bgcolor=#FFCCCC>
							<td><input type=submit name=command value=<TMPL_VAR Command>></td>
							<td align=left nowrap width=100%><TMPL_VAR FileName></td>
							<td align=center nowrap><TMPL_VAR FileSize></td>
							<td align=center nowrap><TMPL_VAR SpeedUp></td>
							<td align=center nowrap>
                                <TMPL_VAR Uploaders> / <TMPL_VAR Downloaders><br>
                                <TMPL_VAR SizeUp> uploaded
                            </td>
							<td align=center><TMPL_VAR Status></td>
                        </tr>
                    </form>
                </TMPL_LOOP>
            </table>
        </TMPL_IF>
        <form name="Command" method=POST action='torrentmain.tmpl' target='main'>
            <input type=HIDDEN name='command' value=''>
        </FORM>
        <form name="TorrentInfo" method=POST action="torrentinfo.tmpl" target="torrentinfo">
            <input type=hidden name=hash value=''>
        </form>
    </body>
</html>
							


			
