<html>
<head>
<title>Azureus : Java BitTorrent Client Tracker</title>
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<meta name="keywords" content="BitTorrent, bt, java, client, azureus">
<link href="images/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<table align="center" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td> 
      <table border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" width="100%">
        <tr> 
          <td width="100"><a href="http://azureus.sourceforge.net/"> <img src="images/Azureus_banner.gif" border="0" alt="Azureus" hspace="0" width="100" height="40" /></a></td>
          <td align="center"> 
            <h1>Azureus: BitTorrent Client Tracker</h1>
          </td>
        </tr>
      </table>
      <table align="center" width="100%" class="azborder" cellpadding="0" cellspacing="0" border="0">
        <tr> 
          <td valign="top" height="20">&nbsp;</td>
        </tr>
        <tmpl_loop torrent_info> 
        <tr> 
          <td valign="top"> 
            <table align="center" border="1" cellpadding="2" cellspacing="1" width="96%" class="azcontent">
              <tr> 
                  <th width="28%">Torrent</th>
                  <th width="12%">Status</th>
                  <th width="12%">Size</th>
                  <th width="6%">Seeds</th>
                  <th width="6%">Peers</th>
                  <th width="6%">Tot Up</th>
                  <th width="6%">Tot Down</th>
                  <th width="6%">Ave Up</th>
                  <th width="6%">Ave Down</th>
                  <th width="6%">Left</th>
                  <th width="6%">Comp</th>
              </tr>
              <tr> 
                <td><a href="<tmpl_var torrent_download_url>"><tmpl_var torrent_name></a></td>
                <td><tmpl_var torrent_status></td>
                <td><tmpl_var torrent_size></td>
                <td><span class="torrent_<tmpl_var torrent_seeds>seed"><tmpl_var torrent_seeds></span></td>
                <td><tmpl_var torrent_peers></td>
                <td><tmpl_var torrent_total_upload></td>
                <td><tmpl_var torrent_total_download></td>
                <td><tmpl_var torrent_upload_speed></td>
                <td><tmpl_var torrent_download_speed></td>
                <td><tmpl_var torrent_total_left></td>
                <td><tmpl_var torrent_completed></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="20">&nbsp;</td>
        </tr>
        <tr> 
          <td> 
            <table align="center" border="1" cellpadding="0" cellspacing="0" width="96%" class="azcontent">
              <tr> 
                <td>Hash</td>
                <td colspan="2"><tmpl_var torrent_hash></td>
              </tr>
              <tr> 
                <td>Comment</td>
                <td colspan="2"><tmpl_var torrent_comment></td>
              </tr>
              <tr> 
                <td>Created By</td>
                <td colspan="2"><tmpl_var torrent_created_by></td>
              </tr>
              <tr> 
                <td>Piece Size</td>
                <td colspan="2"><tmpl_var torrent_piece_size></td>
              </tr>
              <tr> 
                <td>Piece Count</td>
                <td colspan="2"><tmpl_var torrent_piece_count></td>
              </tr>
              <tmpl_loop file_info> 
              <tr> <tmpl_if __FIRST__> 
                <td rowspan="<tmpl_var file_info_count>">Files</td>
                </tmpl_if> 
                <td><tmpl_var file_name></td>
                <td><tmpl_var file_size></td>
              </tr>
              </tmpl_loop> 
            </table>
          </td>
        </tr>
        <tr> 
          <td height="20">&nbsp;</td>
        </tr>
        <tr> 
          <td> 
            <table align="center" border="1" cellpadding="2" cellspacing="1" width="96%" class="azcontent">
              <tr> 
                  <th width="20%">Seed</th>
                  <th width="20%">Uploaded</th>
                  <th width="20%">Downloaded</th>
                  <th width="20%">Left</th>
                  <th width="20%">IP</th>
                </tr>
              <tmpl_loop peer_info> 
              <tr> 
                <td><tmpl_if peer_is_seed><span class="torrent_isseed">Yes</span><tmpl_else><span class="torrent_0seed">No</span></tmpl_if></td>
                <td><tmpl_var peer_uploaded></td>
                <td><tmpl_var peer_downloaded></td>
                <td><tmpl_var peer_left></td>
                <td><tmpl_var peer_ip></td>
              </tr>
              </tmpl_loop> 
            </table>
          </td>
        </tr>
        </tmpl_loop> 
        <tr> 
          <td height="20">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
