<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
    <script language="javascript">
   <!--
     function loadMain(load) {
       headti = document.getElementById('headti');
       headco = document.getElementById('headco');
       headlo = document.getElementById('headlo');
       headti.className = "box_title clickable";
       headco.className = "box_title clickable";
       headlo.className = "box_title clickable";
       switch (load) {
         case "ti":
	 headti.className = "box_title act";
	 //Main.locatio
	 break;
         case "co":
	 headco.className = "box_title act";
	 Main.location.href="/old/config.tmpl";
	 break;
         case "lo":
	 headlo.className = "box_title act";
	 Main.location.href="/old/log.tmpl";
	 break;
       }
     }
     
   //-->
   </script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Azureus Web Interface</title>
  </head>
  <body>
    <table align="center" cellspacing="0" cellpadding="0" height="100%"><tr><td>
      <table class="cadre" cellspacing="0" cellpadding="0"><tr><td>
        <table class="cadre_interne" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" width="115">
              <table cellspacing="0" cellpadding="0">
                <tr>
                  <td class="main_menu">
                    Azureus Web Interface<br>
                  </td>
                </tr>
                <tr>
                  <td class="main_menu_bottom">                    
                  </td>
                </tr>
              </table>         
            </td>
            <td class="margins" width="100%">     
              <table class="box" cellspacing="0" cellpadding="0">
                <tr><td class="box_title">
                  My Torrents
                </td></tr>
                <tr><td>
                <iframe FRAMEBORDER=0 class="iframe" src="/new/torrents.tmpl">
                </iframe>
                </td></tr>
              </table>       
            </td>            
          </tr>
          <tr height="100%">
            <td class="margins" colspan="2">     
              <table class="box" cellspacing="0" cellpadding="0">
                <tr>
	<td class="box_title clickable" id="headti" onMouseDown="loadMain('ti')">
                     Torrent Information
            	</td>
	<td class="box_title" width="100%"></td>
	<td class="box_title clickable" id="headco" OnMouseDown="loadMain('co')">
                     Configuration
	</td>
	<td class="box_title clickable" id="headlo" OnMouseDown="loadMain('lo')">
                     Log
            	</td>
	<td class="box_title" width="100%">
            	</td>
	</tr>
                <tr><td colspan=4>
		<iframe FRAMEBORDER=0 class="iframe" name="Main"></iframe>
                </td></tr>
              </table>       
            </td>
          </tr>
          <tr height="100">
            <td class="margins" colspan="2">     
              <table class="box" cellspacing="0" cellpadding="0">
                <tr><td class="box_title">
                  Statistics
                </td></tr>
                <tr><td>
                </td></tr>
              </table>       
            </td>
          </tr>
        </table>
      </td></tr></table>
    </td></tr></table>
  </body>
</html>