To: azureus-commitlog@lists.sourceforge.net
Subject: Vuze Client Snapshot [ @build.name@ ] released


A new [trunk] Vuze Client snapshot [ @build.name@ ] has been released
on (@timestamp@) and is available at:

* http://dev.vuze.com

* http://cf1.vuze.com/torrent/files/@jar.name@

* http://cf1.vuze.com/torrent/torrents/@jar.name@.torrent


==== CHANGELOG [ @build.name@ ] http://svn.vuze.com/public/client/trunk/ =====

@changelog.text@

###
