<html>
<body>
The Vuze client jar snapshot provided here is compiled from the latest Vuze Subversion
[<a href=http://svn.vuze.com/public/client/trunk/>trunk</a>] source code.
<br><br> 
To use, rename the downloaded <i>@jar.name@</i> file to <i>Azureus2.jar</i><br>
to replace your old jar in the Vuze program dir:
<a href="http://wiki.vuze.com/w/ChangeTheAzureusTwoJarFile"> ChangeTheAzureusTwoJarFile </a>
<br><br><br>
<b><a href='http://hwcdn01.vuze.com/torrent/files/@jar.name@'> @jar.name@ </a></b> - (@timestamp@)
<br><br>
<a href='http://hwcdn01.vuze.com/torrent/torrents/@jar.name@.torrent'> @jar.name@.torrent </a>
<br><br><br>
<a href="http://svn.vuze.com/public/client/trunk/azureus2/src/ChangeLog.txt"> Changelog </a><br> 
<a href="http://lists.sourceforge.net/lists/listinfo/azureus-commitlog"> Commitlog </a> <br> 
<a href="https://tracker.update.vuze.com:7979/rss_feed.xml"> Snapshot RSS Feed </a><br>
<br>
To run Vuze from console command line see <a href="http://wiki.vuze.com/w/ConsoleUI"> Console Help </a>
<br>
</body>  
</html>
