A new [http://svn.vuze.com/public/client/trunk/] client snapshot,
[@jar.name@] - @timestamp@, has been released and is available at:

* http://hwcdn01.vuze.com/torrent/files/@jar.name@

* http://hwcdn01.vuze.com/torrent/torrents/@jar.name@.torrent

==== CHANGELOG =====

@changelog.text@
