Subject: Vuze Client Snapshot [@build.name@] released


A new [trunk] Vuze Client snapshot [@jar.name@] - @timestamp@
has been released and is available at:

* http://hwcdn01.vuze.com/torrent/files/@jar.name@

* http://hwcdn01.vuze.com/torrent/torrents/@jar.name@.torrent


==== CHANGELOG @build.name@ http://svn.vuze.com/public/client/trunk/ =====

@changelog.text@

#
