<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title><TMPL_VAR Global_ServerName> Configuration</title>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
    </head>
    <body bgcolor="#6666AA">
        <form method=post action="torrents">
            <table width="100%" border=1 bgcolor="#CCCCFF" cellpadding=2>
                <tr>
                    <th colspan=2 align=left>Default Directories</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td><table border=1 width="100%">
                        <tr>
                            <td>Torrents</td>
                            <td width="80%"><input type=text style="width:100%" name=Options_General_sDefaultTorrent_Directory value="<TMPL_VAR Options_General_sDefaultTorrent_Directory>"></td>
                        </tr>
                        <tr>
                            <td>Downloads</td>
                            <td width="80%"><input type=text style="width:100%" name=Options_General_sDefaultSave_Directory value="<TMPL_VAR Options_General_sDefaultSave_Directory>"></td>
                        </tr>
                    </table></td>
                </tr>
            </table>
            <p>
            <table width="100%" border=1 bgcolor="#CCCCFF" cellpadding=2>
                <tr>
                    <th align=left>Logging</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td><table border=1 width="100%">
                        <tr>
                            <td nowrap>Log Levels<br>
                                <table style="font-size:x-small">
                                    <tr><td width="1%"></td><td align=right>50000</td><td width="100%">Only Severe Errors</td></tr>
                                    <tr><td width="1%"></td><td align=right>40000</td><td width="100%">Errors</td></tr>
                                    <tr><td width="1%"></td><td align=right>30000</td><td width="100%">Warnings</td></tr>
                                    <tr><td width="1%"></td><td align=right>20000</td><td width="100%">Informational</td></tr>
                                    <tr><td width="1%"></td><td align=right>12000</td><td width="100%">HTTP Access (Webinterface Logger only)</td></tr>
                                    <tr><td width="1%"></td><td align=right>11000</td><td width="100%">Core Readout (Core Logger only)</td></tr>
                                    <tr><td width="1%"></td><td align=right>10000</td><td width="100%">Debug</td></tr>
                                </table>
                             </td>
                             <td width="50%">
                                <table border=1 width="100%">
                                    <tr>
                                        <td>Core</td>
                                        <td width="80%"><input type=text style="width:100%" name=Options_Server_iLogLevelCore value="<TMPL_VAR Options_Server_iLogLevelCore>"></td>
                                    </tr>
                                    <tr>
                                        <td>Webinterface</td>
                                        <td width="80%"><input type=text style="width:100%" name=Options_Server_iLogLevelWebinterface value="<TMPL_VAR Options_Server_iLogLevelWebinterface>"></td>
                                    </tr>
                                </table>
                             </td>
                        </tr>
                    </table></td>
                </tr>
                <tr>
                    <td><table border=1 width="100%">
                        <tr>
                            <td>Number of kept Log entries.</td>
                            <td width="5%">
                                <input type=text style="width:100%" name=Options_Server_iLogCount value="<TMPL_VAR Options_Server_iLogCount>">
                            </td>
                        </tr>
                    </table></td>
                </tr>
                <tr>
                    <td><table border=1 width="100%">
                        <tr>
                            <td nowrap>
                                <input type=hidden name=Options_Server_bLogFile  value="0">
                                Log file. (Enabled: <input type=checkbox name=Options_Server_bLogFile <TMPL_IF Options_Server_bLogFile>CHECKED</TMPL_IF> value="1">)
                            </td>
                            <td width='100%'>
                                <input type=text style="width:100%" name=Options_Server_sLogFile value="<TMPL_VAR Options_Server_sLogFile>">
                            </td>
                        </tr>
                    </table></td>
                </tr>
            </table>
            <p>
            <table width="100%" border=1 bgcolor="#CCCCFF" cellpadding=2>
                <tr>
                    <th align=left>Core</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td><table border=1 width="100%">
                        <tr>
                            <td><TMPL_VAR Options_Core_sOverrideIP_D></td>
                            <td width="10%">
                                <input type=text style="width:100%" name=Options_Core_sOverrideIP value="<TMPL_VAR Options_Core_sOverrideIP>">
                            </td>
                        </tr>
                        <tr>
                            <td><TMPL_VAR Options_Core_iLowPort_D></td>
                            <td width="5%">
                                <input type=text style="width:100%" name=Options_Core_iLowPort value="<TMPL_VAR Options_Core_iLowPort>">
                            </td>
                        </tr>
                        <tr>
                            <td><TMPL_VAR Options_Core_iHighPort_D></td>
                            <td width="5%">
                                <input type=text style="width:100%" name=Options_Core_iHighPort value="<TMPL_VAR Options_Core_iHighPort>">
                            </td>
                        </tr>
                        <tr>
                            <td><TMPL_VAR Options_Core_iMaxUploadSpeed_D></td>
                            <td width="5%">
                                <input type=text style="width:100%" name=Options_Core_iMaxUploadSpeed value="<TMPL_VAR Options_Core_iMaxUploadSpeed>">
                            </td>
                        </tr>
                        <tr>
                            <td><TMPL_VAR Options_Core_iMaxClients_D></td>
                            <td width="5%">
                                <input type=text style="width:100%" name=Options_Core_iMaxClients value="<TMPL_VAR Options_Core_iMaxClients>">
                            </td>
                        </tr>
                        <tr>
                            <td><TMPL_VAR Options_Core_iMaxActiveTorrents_D></td>
                            <td width="5%">
                                <input type=text style="width:100%" name=Options_Core_iMaxActiveTorrents value="<TMPL_VAR Options_Core_iMaxActiveTorrents>">
                            </td>
                        </tr>
                        <tr>
                            <td><TMPL_VAR Options_Core_iMaxDownloads_D></td>
                            <td width="5%">
                                <input type=text style="width:100%" name=Options_Core_iMaxDownloads value="<TMPL_VAR Options_Core_iMaxDownloads>">
                            </td>
                        </tr>
                    </table></td>
                </tr>
                <tr>
                    <td><table border=1 width="100%">
                        <tr>
                            <td><TMPL_VAR Options_Core_bAllocateNew_D></td>
                            <td width="5%" align=center>
                                <input type=hidden name=Options_Core_bAllocateNew  value="0">
                                <input type=checkbox name=Options_Core_bAllocateNew <TMPL_IF Options_Core_bAllocateNew>CHECKED</TMPL_IF> value="1">
                            </td>
                        </tr>
                        <tr>
                            <td><TMPL_VAR Options_Core_iMaxUploads_D></td>
                            <td width="5%">
                                <input type=text style="width:100%" name=Options_Core_iMaxUploads value="<TMPL_VAR Options_Core_iMaxUploads>">
                            </td>
                        </tr>
                    </table></td>
                </tr>
            </table>
            <p>
            <table width="100%" border=1 bgcolor="#CCCCFF" cellpadding=2>
                <tr>
                    <th align=left>Basic Webinterface Config</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td><table border=1 width="100%">
                        <tr>
                            <td>Server Name</td>
                            <td width="10%">
                                <input type=text style="width:100%" name=Options_Server_sName value="<TMPL_VAR Options_Server_sName>">
                            </td>
                        </tr>
                        <tr>
                            <td>Bind to IP for webserver (*)</td>
                            <td width="10%">
                                <input type=text style="width:100%" name=Options_Server_sBindIP value="<TMPL_VAR Options_Server_sBindIP>">
                            </td>
                        </tr>
                        <tr>
                            <td>Webserver port (*)</td>
                            <td width="5%">
                                <input type=text style="width:100%" name=Options_Server_iPort value="<TMPL_VAR Options_Server_iPort>">
                            </td>
                        </tr>
                        <tr>
                            <td>HTTP Connection timeout</td>
                            <td width="5%">
                                <input type=text style="width:100%" name=Options_Server_iTimeout value="<TMPL_VAR Options_Server_iTimeout>">
                            </td>
                        </tr>
                        <tr>
                            <td>Maximal # of HTTP Connections</td>
                            <td width="5%">
                                <input type=text style="width:100%" name=Options_Server_iMaxHTTPConnections value="<TMPL_VAR Options_Server_iMaxHTTPConnections>">
                            </td>
                        </tr>
                        <tr>
                            <td>Allow access from external IPs (separated by space)</td>
                            <td width="30%">
                                <input type=text style="width:100%" name=Access_ValidIPs value="<TMPL_VAR access_validips>">
                            </td>
                        </tr>
                    </table></td>
                </tr>
                <tr>
                    <td><table border=1 width="100%">
                        <tr>
                            <td>Refresh torrents every (seconds, 0 = off)</td>
                            <td width="5%">
                                <input type=text style="width:100%" name=Options_Server_iRefresh value="<TMPL_VAR Options_Server_iRefresh>">
                            </td>
                        </tr>
                    </table></td>
                </tr>
                <tr>
                    <td><table border=1 width="100%">
                        <tr>
                            <td>Tempate directory</td>
                            <td width="80%">
                                <input type=text style="width:100%" name=Options_Server_sTemplate_Directory value="<TMPL_VAR Options_Server_sTemplate_Directory>">
                            </td>
                        </tr>
                    </table></td>
                </tr>
             </table>
            <p>
            <table width="100%" border=1 bgcolor="#CCCCFF" cellpadding=2>
                <tr>
                    <th align=left>Proxy Part Config</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td><table border=1 width="100%">
                        <tr>
                            <td>Fake Hostname to access the webinterface in proxy mode.</td>
                            <td width="10%">
                                <input type=text style="width:100%" name=Options_Server_sAccessHost value="<TMPL_VAR Options_Server_sAccessHost>">
                            </td>
                        </tr>
                        <tr>
                            <td>Enable Cookies.</td>
                            <td width="5%" align=center>
                                <input type=hidden name=Options_Server_bProxyEnableCookies value="0">
                                <input type=checkbox name=Options_Server_bProxyEnableCookies <TMPL_IF Options_Server_bProxyEnableCookies>CHECKED</TMPL_IF> value="1">
                            </td>
                        </tr>
                        <tr>
                            <td>Block certain URLs.</td>
                            <td width="5%" align=center>
                                <input type=hidden name=Options_Server_bProxyBlockURLs value="0">
                                <input type=checkbox name=Options_Server_bProxyBlockURLs <TMPL_IF Options_Server_bProxyBlockURLs>CHECKED</TMPL_IF> value="1">
                            </td>
                        </tr>
                        <tr>
                            <td>Filter HTTP headers (Referrer and User Agent).</td>
                            <td width="5%" align=center>
                                <input type=hidden name=Options_Server_bProxyFilterHTTP value="0">
                                <input type=checkbox name=Options_Server_bProxyFilterHTTP <TMPL_IF Options_Server_bProxyFilterHTTP>CHECKED</TMPL_IF> value="1">
                            </td>
                        </tr>
                        <tr>
                            <td>User Agent to use if the previous option is selected.</td>
                            <td width="10%">
                                <input type=text style="width:100%" name=Options_Server_sProxyUserAgent value="<TMPL_VAR Options_Server_sProxyUserAgent>">
                            </td>
                        </tr>
                    </table></td>
                </tr>
                <tr>
                    <td><table border=1 width="100%">
                        <tr>
                            <td>Use downstream proxy.</td>
                            <td width="5%" align=center>
                                <input type=hidden name=Options_Server_bUseDownstreamProxy value="0">
                                <input type=checkbox name=Options_Server_bUseDownstreamProxy <TMPL_IF Options_Server_bUseDownstreamProxy>CHECKED</TMPL_IF> value="1">
                            </td>
                        </tr>
                        <tr>
                            <td>Downstream proxy host.</td>
                            <td width="5%">
                                <input type=text style="width:100%" name=Options_Server_sDownstreamProxyHost value="<TMPL_VAR Options_Server_sDownstreamProxyHost>">
                            </td>
                        </tr>
                        <tr>
                            <td>Downstream proxy port.</td>
                            <td width="5%">
                                <input type=text style="width:100%" name=Options_Server_iDownstreamProxyPort value="<TMPL_VAR Options_Server_iDownstreamProxyPort>">
                            </td>
                        </tr>
                    </table></td>
                </tr>
             </table>
            (*) changes require restart.
            <p>
            <center>
                <input type=hidden  name=command value=Config>
                <input type=submit value="Submit Changes">
            </center>
        </form>
    </body>
</html>
