<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title>Download Error</title>
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
        <link href="azureus.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        Error downloading Torrent <TMPL_VAR torrent>
    </body>
</html>
