<html>
	<head>
		<title><TMPL_VAR Global_ServerName></title>
	</head>
	<frameset rows="50,*">
		<frame name="top" scrolling=no noresize src="menu">
		<frame name="body" src="torrents">
	</frameset>
</html>
