<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title><TMPL_VAR Global_ServerName> Menu</title>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
        <link href="azureus.css" rel="stylesheet" type="text/css">
        <script language="javascript" src="commands.js"></script>
    </head>
    <body class="menubody">
        <form name="Command" method=POST action='torrentmain' target='main'>
            <input type=HIDDEN name='command' value=''>
        </FORM>
        <center><table><tr><td class="icon">
            <img src='/froggy.png' alt="Azureus">
        </TD></TR></TABLE></CENTER>
        <p>
        <table class="menu" cellspacing=0 cellpadding=0>
            <tr>
                <td class='menuitem mtop' onclick='eCommand("torrentmain")' onmouseover='mOvr(this, "movr")' onmouseout='mOut(this)'>Torrents</td>
            </tr>
            <tr>
                <td class='menuitem mmid' onclick='eCommand("log")' onmouseover='mOvr(this, "movr")' onmouseout='mOut(this)'>View Log</td>
            </tr>
            <tr>
                <td class='menuitem mbot' onclick='eCommand("config")' onmouseover='mOvr(this, "movr")' onmouseout='mOut(this)'>Config</td>
            </tr>
        </table>
        <p>
        <table class="menu">
            <tr>
                <td class='menuitem' onclick='eCommand("exit", "Exit")' onmouseover='mOvr(this, "movr")' onmouseout='mOut(this)'>Kill server</td>
            </tr>
        </table>
    </body>
</html>
