<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title>Torrent Info</title>
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
        <link href="azureus.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Here be Torrent Info (when implemented).</h1>
    </body>
</html>
