/* 
    Document   : style
    Created on : 2004-01-05
    Author     : Christ Schlacta
    Description:
        CSS to hold all the tracker styles.

*/

a {
	color: #000000;
	text-decoration: none;
}
a:active {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}
.azborder {
	background-color: #526ED6;
}
.azcontent {
	border-color: #111111;
	background-color: #D7E0FF;
}
th{
	background-color: #FFDEAD;
	font-weight: normal;
	text-align: left;
	border-color: #111111;
}
body {
	background-color: #EBEFFF;
	margin: 0px; 
}
h1 {
	font-size: 24pt;
	font-weight: normal;
}
.disclaimer {
	font-size: 10pt;
}
.torrent_0seed {
	color: #FF0000;
}
.torrent_1seed {
	color: #FF8800;
}
.torrent_2seed {
	color: #FFCC00;
}
.torrent_3seed {
	color: #FFFF00;
}
.torrent_4seed {
	color: #CCFF00;
}
.torrent_isseed {
	color: #00CC00;
}
.peer_share_health0{
	color: #FF0000;
}
.peer_share_health1{
	color: #FF8800;
}
.peer_share_health2{
	color: #FFCC00;
}
.peer_share_health3{
	color: #FFFF00;
}
.peer_share_health4{
	color: #00CC00;
}
.peer_share_health5{
	color: #00CC44;
}
span {
	font-weight: bold;
	color: #00FF00;
}
span.pagenation {
	color: #000000;
	font-size: 16pt;
	font-weight: bold;
}