<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title><TMPL_VAR Global_ServerName></title>
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
    </head>
    <frameset cols="120,*" BORDER=0 FRAMEBORDER=0 FRAMESPACING=0>
        <frame name="menu" frameborder=0 scrolling=no noresize src="/old/menu">
        <frameset rows="40,*" BORDER=0 FRAMEBORDER=0 FRAMESPACING=0>
            <frame name="status" frameborder=0 scrolling=no noresize src="/old/addbar">
            <frame name="main" frameborder=0 src="/old/torrentmain">
        </frameset>
    </frameset>
</html>
