<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title><TMPL_VAR Global_ServerName> Menu</title>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
        <link href="azureus.css" rel="stylesheet" type="text/css">
        <script language="javascript" src="commands.js"></script>
    </head>
    <body class="menubody">
        <p>
        <center><table><tr><td class="icon">
            <a href='http://azureus.sourceforge.net' target='main'><img src='/froggy.png' alt="Azureus"></a>
        </TD></TR></TABLE></CENTER>
        <p>
        <TMPL_UNLESS Global_NoJavaScript>
            <table class="menu" cellspacing=0 cellpadding=0>
                <tr>
                    <td class='menuitem mtop' onclick='eCommand("torrentmain")' onmouseover='mOvr(this, "movr")' onmouseout='mOut(this)'><b>T</b>orrents</td>
                </tr>
                <tr>
                    <td class='menuitem mmid' onclick='eCommand("log")' onmouseover='mOvr(this, "movr")' onmouseout='mOut(this)'>View&nbsp;<b>L</b>og</td>
                </tr>
                <tr>
                    <td class='menuitem mbot' onclick='eCommand("config")' onmouseover='mOvr(this, "movr")' onmouseout='mOut(this)'>C<b>o</b>nfig</td>
                </tr>
            </table>
            <p>
            <table class="menu">
                <tr>
                    <td class='menuitem' onclick='eCommand("exit", "Exit")' onmouseover='mOvr(this, "movr")' onmouseout='mOut(this)'><b>K</b>ill server</td>
                </tr>
            </table>
            <form name="Command" method=POST action='torrentmain' target='main'>
                <input type=HIDDEN name='command' value=''>
            </FORM>
        <TMPL_ELSE>
            <center>
                <form name="Command" method=POST action='torrentmain' target='main'>
                    <input type=HIDDEN name='command' value=''>
                    <input type=submit value='Torrents'>
                </form>
                <form method=POST action='log' target='main'>
                    <input type=submit value='Log'>
                </form>
                <form method=POST action='config' target='main'>
                    <input type=submit value='Config'>
                </form>
                <p>
                <form method=POST action='exit' target='main'>
                    <input type=HIDDEN name='command' value='Exit'>
                    <input type=submit value='Kill Server'>
                </form>
             <center>
         </TMPL_UNLESS>
    </body>
</html>
