body {
  background-color : #EBEFFF;
  margin-left   : 0px;
  margin-top    : 0px;
  margin-right  : 0px;
  margin-bottom : 0px;  
}

.body {
  align : center;
  width : 100%;
  height : 100%;
}

.cadre {
  border-width : 1px;
  border-style : solid;
  border-color : #0110A7;
  background-color : #FFFFFF;
  padding : 4px 4px 4px 4px;
  width : 780px;
  height : 100%;
}

.cadre_interne {
  border-width : 1px;
  border-style : solid;
  border-color : #000000;
  background-color : #EBEFFF;
  width : 100%;
  height : 100%;
}

.main_menu {
  height : 200px;
  width : 115px;  
  background-color : #617DE4;
  background-image : url(img/hblue.png);
  background-repeat: repeat-y;
  font-family : Verdana;
  font-size : 11pt;
  font-weight : bold;
  vertical-align : top;
  padding : 4px 4px 4px 4px;
  color : #FFFFFF;  
}

.main_menu_bottom {
  height : 57px;
  width : 115px;  
  background-color : #EBEFFF;
  background-image : url(img/corner.png);
  background-repeat: no-repeat;
}

.margins {
  padding : 4px 4px 4px 4px;
}

.box {    
  height : 100%;
  width  : 100%;
  border-width : 1px;
  border-color : #000000;
  border-style : solid;  
}

.box_title {
  height : 21px;  
  background-image : url(img/vblue.png);
  background-repeat: repeat-x;
  font-family : Verdana;
  font-size : 10pt;
  font-weight : bold;
  vertical-align : middle;  
  text-indent: 5px;
  color : #FFFFFF;  
}

.iframe {
  border : 0px;
  height : 100%;
  width  : 100%;
}
  
table.mytorrents {
  width : 100%;
 background-color : #FFFFFF;
}

th.mytorrents {
  height : 16px;
  background-color : #4864D2;
  font-family : Verdana;
  font-size : 8pt;
  font-weight : bold;
  vertical-align : middle;
  horizontal-align : left;
  color : #FFFFFF;
}

td.mytorrents {
  height : 32px;
  background-color : #C1CEFF;
  font-family : Verdana;
  font-size : 7pt;
  font-weight : normal;
  vertical-align : middle;
  text-align : center;
  padding : 1px 1px 1px 1px;
  color : #000000;
}

td.mytorrentsleft {
	height : 32px;
  background-color : #C1CEFF;
  font-family : Verdana;
  font-size : 7pt;
  font-weight : normal;
  vertical-align : middle;
  text-align : left;
  padding : 1px 1px 1px 1px;
  color : #000000;
}

td.mytorrents_title {  
  font-family : Verdana;
  font-size : 7pt;
  font-weight : normal;
  vertical-align : middle;
  text-align : left;
  padding : 1px 1px 1px 1px;
  color : #000000;
  overflow : hidden;
}

td.mytorrents_completion {
  font-size : 1pt;  
  background-color : #FFFFFF;
  padding : 1px 1px 1px 1px;
}

div.title {
  overflow: hidden;
  height : 16px ;
  width:200px ;
  white-space: nowrap;
}