<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title>Download Error</title>
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
        <link href="/azureus.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <TMPL_SELECT name="Test_Test">
            1
        <TMPL_CASE Hallo>
            <TMPL_IF Test_Test2>
               Yes
            <TMPL_ELSE>
                No
            </TMPL_IF>
        <TMPL_CASE Du>
            3
        <TMPL_CASE>
            Else
        </TMPL_SELECT>
        End
    </body>
</html>
