<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title><TMPL_VAR Global_ServerName></title>
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
    </head>
    <frameset rows="*,*">
         <frame name="torrentlist" src="torrents">
         <frame name="torrentinfo" src="torrentinfo">
    </frameset>
</html>
